**4. Implement Conditional Probability and joint probability using Python**

In [ ]:
import pandas as pd
df = pd.read_csv('/content/sample_data/student-mat.csv')
df.head(3)

  school sex  age address famsize Pstatus  ...  Walc  health absences G1 G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6  5  6   6
1     GP   F   17       U     GT3       T  ...     1       3        4  5  5   6
2     GP   F   15       U     LE3       T  ...     3       3       10  7  8  10

[3 rows x 33 columns]

In [ ]:
len(df)

395

We’re only concerned with the columns, absences (number of absences), and G3 (final grade from 0 to 20).

Let’s create a couple new boolean columns based on these columns to make our lives easier.

Add a boolean column called grade_A noting if a student achieved 80% or higher as a final score. Original values are on a 0–20 scale so we multiply by 5.

In [ ]:
import numpy as np
df['grade_A'] = np.where(df['G3']*5 >= 80, 1, 0)

Make another boolean column called high_absenses with a value of 1 if a student missed 10 or more classes.

In [ ]:
df['high_absenses'] = np.where(df['absences'] >= 10, 1, 0)

Add one more column to make building a pivot table easier.

In [ ]:
df['count'] = 1

And drop all columns we don’t care about.

In [ ]:
df = df[['grade_A','high_absenses','count']]
df.head()

   grade_A  high_absenses  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

Nice. Now we’ll create a pivot table from this.

In [ ]:
pd.pivot_table(
    df, 
    values='count', 
    index=['grade_A'], 
    columns=['high_absenses'], 
    aggfunc=np.size, 
    fill_value=0
)

high_absenses    0   1
grade_A
0              277  78
1               35   5

We now have all the data we need to do our calculation. Let’s start by calculating each individual part in the formula.

In our case:

P(A) is the probability of a grade of 80% or greater.

P(B) is the probability of missing 10 or more classes.

P(A|B) is the probability of a 80%+ grade, given missing 10 or more classes.

In [ ]:
P_A = (35 + 5) / (35 + 5 + 277 + 78) 
print(P_A)

0.10126582278481013

In [ ]:
P_B = (78 + 5) / (35 + 5 + 277 + 78)
print(P_B)
print() 
P_A_U_B = 5 / (35 + 5 + 277 + 78)
print(P_A_U_B)

0.21012658227848102

0.012658227848101266

And per the formula, P(A|B) = P(A ∩ B) / P(B), put it together.

In [ ]:
P_A_B = 0.012658227848101266/ 0.21012658227848102

print(P_A_B)

0.060240963855421686

There we have it. The probability of getting at least an 80% final grade, given missing 10 or more classes is 6%.